.navigation {
  margin-left: auto;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 55px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
    transition: color 0.2s;
    &:hover {
      color: #00c8c8;
    }
  }
}