.gallery {
  &__inner {
    padding: 50px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    @media (max-width: 768px) {
      padding: 15px 0 25px;
    }
  }
  &__filter {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    @media (max-width: 768px) {
      margin-bottom: 20px;
      justify-content: center;
      flex-wrap: wrap;
    }
    &-item {
      margin-right: 50px;
      font-size: 13px;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: 600;
      color: #727272;
      transition: 0.2s;
      cursor: pointer;
      &:hover,
      &._active {
        color: #00c8c8;
      }
      @media (min-width: 768px) {
        &:last-child {
          margin-right: 0;
        }
      }
      @media (max-width: 768px) {
        margin: 10px;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 30px;
    align-items: start;
  }
  &__item {
    position: relative;
    background-color: #f8f8f8;
    transition: 0.3s;
    transition-delay: 0.1s;
    @media (min-width: 768px) {
      &:hover {
        box-shadow: 0 3px 22px #A8A8A8;
        .gallery__item-desc {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @media (max-width: 768px) {
      box-shadow: 0 3px 22px #A8A8A8;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(6) {
      grid-column: span 2;
      grid-row: span 1;
      max-height: 500px;
      @media (max-width: 1024px) {
        max-height: none;
        grid-row: span 2;
        grid-column: span 4;
      }
      @media (max-width: 480px) {
        grid-column: span 8;
      }
    }
    &:nth-child(3),
    &:nth-child(4) {
      grid-column: span 4;
      grid-row: span 2;
      .gallery__item-img {
        height: 700px;
        @media (max-width: 1480px) {
          height: auto;
        }
      }
      @media (max-width: 480px) {
        grid-column: span 8;
      }

    }
    &-price {
      position: absolute;
      left: 15px;
      top: 15px;
      &-current,
      &-sale {
        display: inline-block;
        font-size: 21px;
        font-weight: 300;
        color: #9a9a9a;
        sup {
          display: inline-block;
          margin-right: 2px;
          font-size: 12px;
          vertical-align: top;
        }
      }
      &-sale {
        margin-right: 10px;
        text-decoration: line-through;
      }
    }
    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &-desc {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      padding: 20px 25px 60px;
      background-color: #ffffff;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 22px #A8A8A8;
      visibility: hidden;
      opacity: 0;
      z-index: 3;
      @media (max-width: 768px) {
        position: static;
        padding-bottom: 20px;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
      }
      &-title {
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: #727272;
      }
      &-text {
        font-size: 15px;
        line-height: 21px;
        color: #8e8c8c;
      }
    }
  }
}