.intro {
  position: relative;
  height: 100vh;
  margin-bottom: 60px;
  background-color: #f8f8f8;
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
  &__inner {
    padding-top: 35px;
    @media (max-width: 768px) {
      padding-top: 20px;
    }
  }
  &__header {
    position: relative;
    display: flex;
    align-items: flex-end;
    z-index: 3;
    @media (max-width: 1024px) {
      align-items: center;
    }
    &-title {
      font-size: 450px;
      font-weight: bold;
      letter-spacing: 222.5px;
      color: #575153;
    }
    &-logo {
      font-size: 24px;
      color: #222222;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
      &-bold {
        font-weight: bold;
      }
    }
  }
}