.intro {
  position: relative;
  height: 100vh;
  background-color: #f8f8f8;
  &__inner {
    padding-top: 35px;
  }
  &__header {
    position: relative;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    &-title {
      font-size: 450px;
      font-weight: bold;
      letter-spacing: 222.5px;
      color: #575153;
    }
    &-logo {
      font-size: 24px;
      color: #222222;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      &-bold {
        font-weight: bold;
      }
    }
  }
}