.footer {
  &__top {
    padding: 60px 0;
    background-color: #f8f8f8;
    @media (max-width: 768px) {
      padding: 30px 0;
    }
    &-inner {
      max-width: 1200px;
      display: flex;
      align-items: flex-start;
      @media (max-width: 768px) {
        flex-wrap: wrap;
      }
    }
  }
  &__contacts {
    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
    &-title {
      position: relative;
      display: inline-block;
      margin-bottom: 15px;
      font-size: 13px;
      line-height: 30px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      color: #575153;
      &:hover::before {
        width: 100%;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition: 0.2s;
      }
      @media (max-width: 768px) {
        margin-bottom: 5px;
      }
    }
    &-row {
      margin-bottom: 15px;
      @media (max-width: 768px) {
        margin-bottom: 5px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &-text,
      &-link {
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        color: #727272;
      }
      &-link {
        margin-left: 5px;
      }
    }
  }
  &__nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 960px;
    width: 100%;
    margin-right: 90px;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
      margin-right: 0;
    }
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
    &-item {
      width: 50%;
      margin-bottom: 20px;

      @media (min-width: 480px) {
        /* Last 2 items */
        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
      }
      @media (max-width: 768px) {
        text-align: center;
      }
      @media (max-width: 480px) {
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-sub {
      &-item {
        &:first-child {
          margin-bottom: 15px;
          @media (max-width: 768px) {
            margin-bottom: 5px;
          }
          .footer__nav-sub-link {
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            color: #575153;
            &::before {
              height: 2px;
            }
          }
        }
      }
      &-link {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        text-decoration: none;
        color: #727272;
        &:hover::before {
          width: 100%;
        }
        &::before {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 1px;
          background-color: currentColor;
          transition: 0.2s;
        }
      }
    }
  }
  &__bottom {
    padding: 15px 0;
    background-color: #333333;
    &-inner {
      max-width: 1200px;
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
    &-left {
      display: flex;
      align-items: center;
      margin-left: auto;
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
  }
  &__copyright,
  &__develop,
  &__design {
    font-size: 13px;
    line-height: 20px;
    color: #777777;
  }
  &__develop {
    margin-left: 35px;
  }
  &__copyright {
    @media (max-width: 768px) {
      margin-bottom: 5px;
    }
  }
}